.container {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.searchBox {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 6px;
  border: 1px solid #aaa;
}

/* .error {
  color: red;
  font-weight: bold;
  text-align: center;
} */
.error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
